# Ignore the virtual environment folder
venv/
.venv/
env/

# Ignore environment variables
.env

**/__pycache__/
*.pyc

*.pkl

memory_images/

# Local test page
test_activity.html

backend/activity_recognition/YOLO26_object.pt
backend/activity_recognition/YOLO26_pose.pt